.contentChat{
  width : 100%;
  height : calc(100% - 65px);
  background-color : #747474;
  overflow-y: auto;
  position: absolute;
  /* word-wrap: break-word; */
}

.senderMessageName {
  color: snow;
  float: right;
  clear: both;
  padding-right: 5px;
  font-family: HelveticaNeue;
}

.timeSeparator-container{
  width : 100%;
  height : 40px;
  clear: both;
  text-align: center;
  padding : 5px 0px 10px 0px;
}

.timeSeparator{
  display: inline-block;
  width : 108px;
  line-height:24px;
  font-size: 12px;
  height: 23px;
  border: transparent;
  border-radius: 5px;
  text-align: center;
  font-family: HelveticaNeue;
  color : rgb(218, 218, 215);
  background-color: rgb(58, 58, 58);
}

.userMessageContainer{
  clear: both;
  float: right;
  position: relative;
  overflow: hidden;
  padding-left: 43px;
  max-width: 80%;
  word-wrap: break-word;
}

.userMessage {
  clear: both;
  padding: 6px 10px 11px;
  border-radius: 10px 10px 0 10px;
  background: rgba(62, 62, 62, 0.68);
  margin-top: 0px;
  margin-bottom: 12px;
  font-size: 14px;
  margin-right: 5px;
  position: relative;
  text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
  text-align: left;
  font-family: HelveticaNeue;
  color: floralwhite;
}

.userMessage p {
  white-space: pre-wrap;
}

.userMessage:before {
  content: '';
  position: absolute;
  bottom: -6px;
  border-top: 6px solid rgba(62, 62, 62, 0.68);
  right: 0;
  border-left: 7px solid transparent;
}

.adminMessageContainer{
  clear: both;
  float: left;
  position: relative;
  overflow: hidden;
  max-width: 80%;
  word-wrap: break-word;
}

.adminMessage{
  clear: both;
  padding: 6px 10px 11px;
  border-radius: 10px 10px 10px 0;
  background: rgba(0, 0, 0,0.2);
  margin-top: 0px;
  margin-bottom: 12px;
  font-size: 14px;
  margin-left: 5px;
  position: relative;
  text-align: left;
  text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
  color: ghostwhite;
  font-family: HelveticaNeue;
}

.adminMessage p {
  white-space: pre-wrap;
}

.adminMessage:before {
  content: '';
  position: absolute;
  bottom: -6px;
  border-top: 6px solid rgba(0, 0, 0,0.2);
  left: 0;
  border-right: 7px solid transparent;
}

.adminMessagePicOnly {
  clear: both;
  cursor: default;
  padding: 6px 5px 7px;
  border-radius: 10px 10px 10px 0;
  background: rgba(0, 0, 0,0.2);
  margin-top: 0px;
  margin-bottom: 12px;
  font-size: 14px;
  margin-left: 5px;
  position: relative;
  text-align: left;
  text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
  color: black;
  font-family: HelveticaNeue;
}

.adminMessagePicOnly:before {
  content: '';
  position: absolute;
  bottom: -6px;
  border-top: 6px solid rgba(0, 0, 0,0.2);
  left: 0;
  border-right: 7px solid transparent;
}

.adminMessageWithPic {
  clear: both;
  cursor: pointer;
  padding: 6px 5px 7px;
  border-radius: 10px 10px 10px 0;
  background: rgba(0, 0, 0,0.2);
  margin-top: 0px;
  margin-bottom: 12px;
  font-size: 14px;
  margin-left: 5px;
  position: relative;
  text-align: left;
  text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
  color: black;
  font-family: HelveticaNeue;
}

.adminMessageWithPic p {
  padding-top: 6px;
  white-space: pre-wrap;
}

.adminMessageWithPic:before {
  content: '';
  position: absolute;
  bottom: -6px;
  border-top: 6px solid rgba(0, 0, 0,0.2);
  left: 0;
  border-right: 7px solid transparent;
}

.hoverAttachmentFileContainer{
  width: 20px;
  height: 20px;
  background-color: transparent;
  position: absolute;
  z-index: 1;
  right: 2px;
  top: 1px;
  cursor: pointer;
}

.hoverAttachmentFile{
  right: 4px;
  top: 7px;
  position: absolute;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  animation: slidein 0.022s;
  border-top: 8px solid #fcfcfc;
}

.MenuMessage{
  position: absolute;
  cursor: pointer;
  right: -9px;
  top: 2px;
  background-color: rgb(255, 255, 255);
  border-radius: 3px;
  list-style-type: none;
  font-family: arial;
  animation: showMenu 0.03s ease-out;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26), 0 2px 10px 0 rgba(0, 0, 0, 0.16);
}

.MenuMessage li{
  line-height: 25px;
  height: 25px;
  padding-left: 10px;
  padding-right: 10px;
}

.MenuMessage li:hover{
  background-color: rgba(170,170,170,0.1);
  transition: color .2s ease;
}

.attachment-picture{
  width : 200px;
  height: 200px;
  position: relative;
}

.attachment-picture img{
  width : 200px;
  height: 200px;
  cursor: default;
  border-radius: 5px;
}

.attachmentFileName{
  cursor: default;
  width: 220px;
  position: relative;
  background-color: rgba(4, 4, 4, 0.54);
  border-radius: 5px;
  font-size: 13px;
  font-family: HelveticaNeue;
  display: inline-block;
}

.attachmentFileName p{
  position: absolute;
  color : rgb(218, 218, 215);
  width: 200px;
  padding-top : 2px;
  right: 0;
  text-align: center;
}

.attachmentFileName img{
  margin-top: 0px;
  width : 30px;
  height: 30px;
  vertical-align: middle;
  margin: 5px 0px 5px 3px;
}
