.contentChat{
  width : 100%;
  height : calc(100% - 65px);
  background-color : #747474;
  overflow-y: auto;
  position: absolute;
  /* word-wrap: break-word; */
}

.timeSeparator-container{
  width : 100%;
  height : 40px;
  clear: both;
  text-align: center;
  padding : 5px 0px 10px 0px;
}

.timeSeparator{
  display: inline-block;
  width : 108px;
  line-height:24px;
  font-size: 12px;
  height: 23px;
  border: transparent;
  border-radius: 5px;
  text-align: center;
  font-family: HelveticaNeue;
  color : rgb(218, 218, 215);
  background-color: rgb(58, 58, 58);
}

.userMessageContainer{
  clear: both;
  float: right;
  position: relative;
  overflow: hidden;
  padding-left: 43px;
  max-width: 80%;
  word-wrap: break-word;
}

.userMessage {
  clear: both;
  padding: 6px 10px 11px;
  border-radius: 10px 10px 0 10px;
  background: rgba(62, 62, 62, 0.68);
  margin-top: 0px;
  margin-bottom: 12px;
  font-size: 14px;
  margin-right: 5px;
  position: relative;
  text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
  text-align: left;
  font-family: HelveticaNeue;
  color: black;
}

.userMessage p {
  white-space: pre-wrap;
}

.userMessage:before {
  content: '';
  position: absolute;
  bottom: -6px;
  border-top: 6px solid rgba(62, 62, 62, 0.68);
  right: 0;
  border-left: 7px solid transparent;
}

.adminMessageContainer{
  clear: both;
  float: left;
  position: relative;
  overflow: hidden;
  max-width: 80%;
  word-wrap: break-word;
}

.adminMessage{
  clear: both;
  padding: 6px 10px 11px;
  border-radius: 10px 10px 10px 0;
  background: rgba(0, 0, 0,0.2);
  margin-top: 0px;
  margin-bottom: 12px;
  font-size: 14px;
  margin-left: 5px;
  position: relative;
  text-align: left;
  text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
  color: black;
  font-family: HelveticaNeue;
}

.adminMessage p {
  white-space: pre-wrap;
}

.adminMessage:before {
  content: '';
  position: absolute;
  bottom: -6px;
  border-top: 6px solid rgba(0, 0, 0,0.2);
  left: 0;
  border-right: 7px solid transparent;
}
